@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f0f9ff;
  user-select: none;
  -webkit-touch-callout: none;
}
